#github-user-info {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.github-user-info-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 2rem;
    margin: 0 1.6rem;
    padding: 1.6rem;
    font-size: 2.4rem;
    width: 100%;
}

.github-user-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.github-user-contact {
    margin-right: 3rem;
}

.github-user-login {
    font-size: 4.4rem;
    margin-right: 3rem;
}

.github-user-blog {
    margin-right: 3rem;
}

.github-user-hireable {
    margin-left: auto;
    margin-right: 3rem;
}

.github-user-company {
    margin-right: 3rem;
}

.github-user-location {
    margin-right: 3rem;
}

.github-user-name {
    margin-right: 3rem;
}

.github-user-bio {
    margin-bottom: 1rem;
}

.github-user-info {
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

#github-user-languages {
    margin-bottom: 6rem;
}

.github-user-language {
    font-size: 2rem;
}

#github-user-top-languages-text {
    font-size: 3.2rem !important;
    text-align: center;
    margin-bottom: 1rem;
}

#no-repos-text {
    font-size: 3.2rem !important;
    margin: 3rem 0;
}

#repos-text {
    font-size: 3.2rem !important;
}

.github-repo-card {
    margin: 3rem;
    padding-left: 3rem;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 2rem;
    background-color: var(--color-primary);
}

.github-repo-card a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.github-repo-card svg {
    color: white;
    width: 100px;
    height: 100px;
}

.github-icon-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.github-repo-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--color-primary);
    text-decoration: none;
    padding: 2rem;
    text-overflow: clip;
    margin-left: 1rem;
}

.github-repo-name {
    font-size: 2rem;
    margin-bottom: 1rem;
    word-wrap: break-word;
    width: 100%;
}

.github-repo-description {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    word-wrap: break-word;
    width: 100%;
}

.github-repo-language {
    font-size: 1.4rem;
    word-wrap: break-word;
    width: 100%;
}

.github-repos-text {
    color: #FFFFFF;
}
