:root {
  --color-primary: #007bff;
}

*, *::before, *::after {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
